{% extends 'layout/app.html' %} {% block content%}
<div class="container">
  <div class="card card-body mt-3">
    <h1 class="h5">Login</h1>
    <form action="{{url_for('register')}}" method="post">
      <div class="form-group m-1">
        <label for="">Full Name</label>
        <input
          type="name"
          name="name"
          value="{{old[0]}}"
          class="form-control rounded {% if nameError %} is-invalid {%endif%}"
        />
        {% if nameError %}
        <small class="invalid-feedback">{{nameError}}</small>
        {% endif %}
      </div>
      <div class="form-group m-1">
        <label for="">username</label>
        <input
          type="text"
          name="username"
          value="{{old[1]}}"
          class="form-control rounded {% if usernameError %} is-invalid {%endif%}"
        />
        {% if usernameError %}
        <small class="invalid-feedback">{{usernameError}}</small>
        {% endif %}
      </div>
      <div class="form-group m-1">
        <label for="">email</label>
        <input
          type="text"
          name="email"
          value="{{old[2]}}"
          class="form-control rounded {% if emailError %} is-invalid {%endif%}"
        />
        {% if emailError %}
        <small class="invalid-feedback">{{emailError}}</small>
        {% endif %}
      </div>
      <div class="form-group m-1">
        <label for="">Password</label>
        <input
          type="password"
          name="password"
          class="form-control rounded {% if passwordError %} is-invalid {%endif%}"
        />
        {% if passwordError%}
        <small class="invalid-feedback">{{passwordError}}</small>
        {% endif %}
      </div>
      <div class="form-group m-1">
        <label for="">Confirm Password</label>
        <input
          type="password"
          name="password-confirm"
          class="form-control rounded {% if passwordConfError %} is-invalid {%endif%}"
        />
        {% if passwordConfError%}
        <small class="invalid-feedback">{{passwordConfError}}</small>
        {% endif %}
      </div>
      <button class="btn btn-primary rounded">Register</button>
      <a href="{{url_for('login')}}" class="btn btn-link"> Have an account ?</a>
    </form>
  </div>
</div>
{% endblock content%}
